<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="logfile" class="ch.qos.logback.core.FileAppender">
        <Encoding>UTF-8</Encoding>
        <File>dhtfox.log</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%-5level][%d{yyyy-MM-dd HH:mm:ss}] %class - %msg%n</Pattern>
        </layout>
    </appender>

    <root>
        <level value="trace" />
        <appender-ref ref="logfile"/>
    </root>

</configuration>